* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body,
#ePlayer {
    width: 100%;
    _height: 100%;
}

.mejs__container {
    position: inherit;
    width: 100% !important;
}

#ePlayer>.player {
    width: 100%;
}

iframe#player {
    border: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
